.nav-link.active {
  border-bottom: 2px solid rgb(228, 109, 164);
}
.icon{
  width: 25px;
  height: 25px;
  margin-bottom: 2px;
}
.logo {
  color: rgb(228, 109, 164);
  font-size: 26px;
}
.logoGit {
  color: rgb(228, 109, 164);
  font-size: 36px;
}

.bg-dark {
  --bs-bg-opacity: 0;
  background-color: #000000e2;
}
.bg-light {
  --bs-bg-opacity: 0;
  background-color: #eee;
}
.mode {
  font-size: 26px;

}
.backColor{
 border: 1px solid  rgb(228, 109, 164);
 border-radius: 5px;
 background-color: rgba(243, 192, 201, 0.616);
}
