.home-heading {
  animation: slideInLeft 10s linear infinite;
  color: rgb(228, 109, 164);
  margin-top: 20px;
}
.container {
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.cover {
  width: 100%;
  margin-top: 2%;
}
.cardBtn {
  margin-top: 12px;

  padding: 7px 50px;
  border-radius: 10px;
  border: 2px solid rgb(228, 109, 164);
  background-color: pink;
}
